.view {
	width: 100%;
	height: 100%;
	position: relative;
}

.hPresentation {
	height: 100%;
	width: 100%;
	position: absolute;
}

/* Reset CSS for the content of the presentation */
.hPresentation * {
	margin: 0;
	padding: 0;
	display: block;
}

.hPrevious, .hNext {
	height: 50px;
	width: 50px;
	bottom: 20px;
	position: fixed;
	display: none;
	cursor: pointer;
}

.hPrevious {
	left: 30%;
	background-image: url('../images/arrows.png');
}

.hNext {
	right: 30%;
	background: url('../images/arrows.png') top right;
}

.hSlide {
	height: 100%;
	width: 100%;
	position: relative;
}

.hSlide * {
	position: absolute;
}

.hBackground {
	width: 100%;
	height: 100%;
	cursor: default;
	outline: none;
}

.hNumber {
	text-decoration: none;
	color: black;
	text-align: center;
}