#overlayDiv {
	display: none;
	position: absolute;
	background-color: #fff;
	-moz-box-shadow: #000 -1px -1px 20px;
	-webkit-box-shadow: #000 -1px -1px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#overlayRelative {
	position: relative;
	width: 100%;
	height: 100%;
}

#overlayRelative * {
	position: absolute;
}

#overlayClose {
	width: 50px;
	height: 50px;
	background: url(../image/sprite.png) 0 -50px;
	top: -25px;
	right: -25px;
	cursor: pointer;
}

#overlayLoader {
	top: 50%;
	left: 50%;
	margin: -16px;
}

#overlayImage {
	display: none;
	top: 5%;
	left: 5%;
}

#overlayPlus {
	width: 100%;
	height: 100%;
	display: none;
}

.overlayKey {
	top: 46%;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-image: url(../image/sprite.png);
}

#overlayPrevious {
	left: -70px;	
}

#overlayNext {
	right: -70px;
	background-position: -50px 0;
}

#overlayTitle {
	width: 90%;
	left: 3.5%;
	bottom: 20px;
	background-color: #e6e6e6;
	text-align: center;	
	font-family: Georgia, "Century Schoolbook L", serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#fixedDiv {
	position: fixed;
	top: 0;
	left: 50%;
}
